*, *::before, *::after {
	box-sizing:border-box;
}

:root {
    --dark-purple: #120050;
    --dark-purple-rgb: 18, 0, 80;
    --pink: #FF1490;
    --purple: #662FC3;
    --mint: #00C2BA;
    --green: #7DE0C0;
	--gray: #C3C3C3;
    
    --bezier:cubic-bezier(0.11, 0.54, 0.33, 1.01);;
}

body {
	margin: 0px;
	font-family: "Roboto", sans-serif;
	text-align: center;
    background-image: url("../images/background-mobile.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color:#fff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

@media (orientation: landscape) {
    body {
        background-image: url("../images/background.png");
    }
}

h1 {
	font-family: "Train One", cursive;
    font-weight: normal;
}

button, input[type=button], input[type=submit] {
    cursor: pointer;
}

.lobbyParticipants {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 306px;
	text-align: center;
}

.answersGrid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 306px;
	margin: 0 auto;
	padding: 25px;
}

.answer {
	padding: 10px;
	border: 1px solid #fe1493;
	background-color: #130152;
	color: white;
	border-radius: 3px;
}

.answer:hover {
	cursor: pointer;
}

.answer:active {
	background-color: #160164;
}
