.heading {
	position: relative;
	z-index: 2;
	margin-bottom: 0;
}

.container {
	background-color: var(--dark-purple);
	-webkit-backdrop-filter: saturate(150%) blur(20px);
	backdrop-filter: saturate(150%) blur(20px);
	border-radius: 8px;
	position: absolute;
	z-index: 1;
	left: 50%;
	transform: translateX(-50%);
	transition: all 0.3s var(--bezier);
	overflow-y: auto;
}

.container.low {
	background-color: rgba(var(--dark-purple-rgb), 0.75);
}

.container.high {
	background-color: rgba(var(--dark-purple-rgb), 0.95);
}

.container.full {
	width: 100%;
	height: 100vh;
	border-radius: 0px;
	top: 0;
	padding: 100px 20px 20px;
}

.container.big {
	top: 110px;
	width: 90%;
	height: calc(90vh - 110px);
	max-width: 1060px;
}

.container.small {
	width: 80%;
	min-height: 400px;
	max-height: calc(90vh - 110px);
	max-width: 400px;
	top: 50%;
	transform: translate(-50%, -50%);
}
