.wrapper {
    width: 80%;
    height: 100vh;
    background-color: white;
    opacity: 50%;
} 

.mode {

}

.toggle {
    
}

.switch {

}

.slider {

}

.round {

}

.difficulty {

}

.speed {

}

.category {

}

.buttons {

}