.wrapper {
    width: 80%;
    background-color: silver;
    opacity: 70%;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    color: black;
    z-index: 2;
    padding-top: 70px;
} 

.mode {

}

.toggle {
    
}

.switch {

}

.slider {

}

.round {

}

.difficulty {

}

.speed {

}

.category {

}

.buttons {

}

.main {
    margin:10px 0;
}

.main h3 {
    text-align: left;
}

.main > div {
    display: flex;
    justify-content: space-between;
    margin:5px 0;
}

@media screen and (min-width: 1000px) {
    .main {
        grid-area:settings;
        margin:0;
    }

    .main h3 {
        margin-top:0;
    }
}